<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding text-center>

  <ion-item-divider>
    <ion-input placeholder="Enter Name" [(ngModel)]="name_model" type="text"></ion-input>

    <ng-container *ngIf="updateActive; else elseTemplateUpdate">
      <ion-button expand="block" (click)="updateRow()">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
    </ng-container>

    <ng-template #elseTemplateUpdate>
      <ion-button expand="block" (click)="insertRow()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ng-template>
  </ion-item-divider>

  <ion-list>
    <ion-list-header>
      <ion-label>Mangas in collection</ion-label>
      <ion-button expand="block" (click)="getRows()">
        Get Rows
      </ion-button>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of row_data">
      <ion-item>
        <ion-label [routerLink]="['/editions-list/', item.pid]" routerDirection="forward">
          {{item.Name}}
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="enableUpdate(item)" color="warning">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>

        <ion-item-option (click)="deleteRow(item)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>